{% comment %}
------------------------------------------------------------------------------
  Section: Featured collection
  - This the main section that you should be working on
  - Main styling is done in /styles/sections/featured-collection.scss
------------------------------------------------------------------------------
{% endcomment %}

<section class="featured-collection" data-section-id="{{ section.id }}" data-section-type="featured-collection">
  {%- assign collection = collections[section.settings.collection] -%}

  <h1>{{ collection.title | escape }}</h1>

  

  

  <div class="main-carousel">
  {% for product in collection.products limit: 6 %}
    {% assign current_variant = product.selected_or_first_available_variant %}
    <a href="{{ product.url | within: collection }}">
      <div class="carousel-cell">
        {% if product.featured_image != blank %}
          {{ product.featured_image | img_url: 'large' | img_tag }}
        {% endif %}
        
        <span js-ajax-cart="addToCart" data-variant-id="{{ current_variant.id }}" data-quantity="1" class="btn btn__secondary">Add to cart</span>
      </div>

      <div>
        <h5>{{ product.title | escape }}</h5>

        <span>
          {% include 'product-price' %}
        </span>
      </div>
    </a>
  {% endfor %}
  
  </div>
  <button id="collection" class="btn btn__primary">View collection</button>
</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
